.characters {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.character {
  margin: 16px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
}

